<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../login/style.css">   
</head>
    <body>
    <div class="login-box">
    <img src="../login/avatar.png" class="avatar">
        <p class="title">Login Here</p>
        <% if(error!='') { %>
            <p style="color:hsla(0, 100%, 50%, 0.925); text-align: center; font-weight: 800;"> <%= error %></p>
           <% } %>
            <form action="/" id="LoginForm" class="form-horizontal" method="Post"  role="form">
            <p class="label">Email</p>
            <input type="text" name="email" placeholder="Enter Your Email">
            <p class="label">Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="submit" value="Login">
			<a href="#"></a>
			<a href="/signup"><input type="button" name="submit" value="Create New Account"></a>    
            </form>
        </div>
    
    </body>
</html>