
<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon">
        <i class="fa fa-user-circle" style="color: yellow;"></i>
      </div>
      <div class="sidebar-brand-text mx-1 ml-auto">Catering Shop</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt" style="color: yellow;"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link" href="/dashboard-shop-owner/category">
        <i class="fa fa-list-alt" style="color: yellow;"></i>
        <span style="font-weight: bold; margin-left: 0.3rem;">Category</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard-shop-owner/dishes">
        <i class="fas fa-utensils" style="color: yellow;"></i>
        <span style="font-weight: bold; margin-left: 0.3rem;">Dishes</span></a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/dashboard-shop-owner/orders">
        <i class="fa fa-check" style="color: yellow;"></i>
        <span style="font-weight: bold; margin-left: 0.3rem;">Orders</span></a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    
    <!-- Divider -->
    <hr class="sidebar-divider">

  
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-md-inline" >
      <button class="rounded-circle border-0" id="sidebarToggle"style="color: yellow;"></button>
    </div>

  </ul>
  